<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <link rel="stylesheet" href="{{cart_css}}" media="screen">
  <link rel="stylesheet" href="{{style}}" media="screen">
  <script
  src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<head>
    <!-- Head content -->
</head>
<body class="u-body u-xl-mode" data-lang="en">
<header class="u-clearfix u-header u-header" id="sec-c173">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-1">HOME
        </a>
    </div>
</header>
<section class="u-clearfix u-section-1" id="sec-f8b5">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="row">
            <div class="column">
                <h2 class="u-custom-font u-font-oswald u-text u-text-default u-text-palette-2-base u-text-21 font-oswald">Cart Items</h2>
                <div id="cart-container"></div>
            </div>

            <!-- Recommended Items Section -->
            <div class="column">
                <h2 class="u-custom-font u-font-oswald u-text u-text-default u-text-palette-2-base u-text-21 font-oswald">Recommended Items</h2>
                <div id="recc-container"></div>
            </div>
        </div>
    </div>
</section>
<div id="plot"></div>
</body>
<script>
    // Script content

    const cart = JSON.parse(localStorage.cart) || [];
    let pizza_types = [];

    function gen_remove(index) {
        return (event) => {
            cart.splice(index, 1);
            localStorage.setItem('cart', JSON.stringify(cart));
            location.reload();
        }
    }

    function gen_add(item){
        return () => {
            item_obj = {
                id: item.pizza_type_id,
                price: 18,
                name: item.name,
                index: null
            }

            cart.push(item_obj);
            localStorage.setItem('cart', JSON.stringify(cart));
            location.reload();

        }
    }

    function populateCart() {
        const cartContainer = document.createElement('table');

        cart.forEach((item, index) => {
            const itemRow = document.createElement('tr');

            const itemTag = document.createElement('p');
            itemTag.textContent = `${item.name} - $${item.price}`;
            
            const removeButton = document.createElement('button');
            removeButton.textContent =  `remove`;
            removeButton.onclick = gen_remove(index);

            tagCell = document.createElement('th');
            tagCell.appendChild(itemTag);
            removeCell = document.createElement('th');
            removeCell.appendChild(removeButton);

            itemRow.appendChild(tagCell);
            itemRow.appendChild(removeCell);

            cartContainer.appendChild(itemRow);
        });

        document.querySelector('#cart-container').appendChild(cartContainer);
    }

    function populateCharts() {
        // console.log(cart);
        
        $.ajax({
            url: `/plot1?cart=${cart.map((e)=>e.id)}`,
            method: "POST",
            contentType: "application/json",
            success: function(response1) {
                str = `<div class='title'><p>` + "Recommendation Breakdown" + `</p></div>`
                str += "<div><img src='" + response1.image + "' width='700' height='300' id='fig1'>";
                $.ajax({
                    url: `/plot2?cart=${cart.map((e)=>e.id)}`,
                    method: "POST",
                    contentType: "application/json",
                    success: function(response2) {
                        str+="<img src='" + response2.image + "' width='700' height='300' id='fig2'></div>";
                        $.ajax({
                            url: `/plot3`,
                            method: "POST",
                            contentType: "application/json",
                            success: function(response3) {
                                str += `<div class="title"><p>` + "Performance Metrics for Different Number of Recommendations" + `</p></div>`
                                str+="<div style='text-align:center;''><img src='" + response3.image + "' width='900' height='500' id='fig3'></div>"

                                $("#plot").html(str);
                            }
                        });

                        // $("#plot").html("<div><img src='" + response1.image + "' width='700' height='300' id='fig1'><img src='" + response2.image + "' width='700' height='300' id='fig2'></div>");
                    }
                });
            }
        });
        
    }

    function populateReccomendations() {
        const recc = document.getElementById('recc-container')
        $.ajax({
            url: `${location.origin}/reccomendations?cart=${cart.map((e) => e.id)}`,
            method: 'POST',
            contentType: 'application/json',
            success: (reccomdations) => {
                container = document.createElement('table');

                pizza_types
                .filter((pizza_type) => reccomdations.indexOf(pizza_type.pizza_type_id) >= 0)
                .forEach((item) => {
                    tableRow = document.createElement('tr');

                    nameCell = document.createElement('th');
                    itemTag = document.createElement('p');
                    itemTag.textContent = `${item.name} - $${item.price}`;
                    nameCell.appendChild(itemTag);
                    tableRow.appendChild(nameCell);

                    addCell = document.createElement('th');
                    addButton = document.createElement('button');
                    addButton.textContent = 'add';
                    addButton.onclick = gen_add(item);
                    addCell.appendChild(addButton);
                    tableRow.appendChild(addCell);

                    container.appendChild(tableRow);
                })

                recc.appendChild(container);

            }
        })
    }

    document.addEventListener('DOMContentLoaded', function () {

        $.ajax({
            url: `${location.origin}/get_pizzas`,
            method: "GET",
            success: (data) => {
                response = JSON.parse(data);
                pizza_types = response["pizza_types"]

                populateCart();
                populateCharts();
                populateReccomendations();

            }
        });

        


    });
</script>

</html>
