/* css for the cart */

.row {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
}

.font-oswald {
  font-family: 'Oswald', sans-serif;
}

.title {
  left: 40%;
  position: relative;
}
.title2 {
  left: 35%;
  position: relative;
}