 .u-section-1 {
  background-image: linear-gradient(white, #478ac9);
}

.u-section-1 .u-sheet-1 {
  min-height: 1061px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 57px auto 0;
}

.u-section-1 .u-text-2 {
  width: 793px;
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto auto;
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-gap: 30px 30px;
  min-height: 3605px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-1 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 270px;
  min-height: 285px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 25px;
}

.u-section-1 .u-text-3 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-size: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-2 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-2 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 25px;
}

.u-section-1 .u-text-6 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-3 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-3 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 25px;
}

.u-section-1 .u-text-9 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-10 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-size: auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-4 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-4 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 25px;
}

.u-section-1 .u-text-12 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-13 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-5 {
  background-size: auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-5 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-5 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 25px;
}

.u-section-1 .u-text-15 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-16 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-6 {
  background-size: auto;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-6 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-6 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 25px;
}

.u-section-1 .u-text-18 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-19 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-7 {
  background-size: auto;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-7 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-7 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-14 {
  padding: 0 25px;
}

.u-section-1 .u-text-21 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-22 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-8 {
  background-size: auto;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-8 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-8 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-16 {
  padding: 0 25px;
}

.u-section-1 .u-text-24 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-25 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-9 {
  background-size: auto;
}

.u-section-1 .u-container-layout-17 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-9 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-9 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-18 {
  padding: 0 25px;
}

.u-section-1 .u-text-27 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-28 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-29 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-10 {
  background-size: auto;
}

.u-section-1 .u-container-layout-19 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-10 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-10 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-20 {
  padding: 0 25px;
}

.u-section-1 .u-text-30 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-31 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-32 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-11 {
  background-size: auto;
}

.u-section-1 .u-container-layout-21 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-11 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-11 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-22 {
  padding: 0 25px;
}

.u-section-1 .u-text-33 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-34 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-35 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-12 {
  background-size: auto;
}

.u-section-1 .u-container-layout-23 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-12 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-12 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-24 {
  padding: 0 25px;
}

.u-section-1 .u-text-36 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-37 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-38 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-13 {
  background-size: auto;
}

.u-section-1 .u-container-layout-25 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-13 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-13 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-26 {
  padding: 0 25px;
}

.u-section-1 .u-text-39 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-40 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-41 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-13 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-14 {
  background-size: auto;
}

.u-section-1 .u-container-layout-27 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-14 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-14 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-28 {
  padding: 0 25px;
}

.u-section-1 .u-text-42 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-43 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-44 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-14 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-15 {
  background-size: auto;
}

.u-section-1 .u-container-layout-29 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-15 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-15 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-30 {
  padding: 0 25px;
}

.u-section-1 .u-text-45 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-46 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-47 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-15 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-16 {
  background-size: auto;
}

.u-section-1 .u-container-layout-31 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-16 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-16 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-32 {
  padding: 0 25px;
}

.u-section-1 .u-text-48 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-49 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-50 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-16 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-17 {
  background-size: auto;
}

.u-section-1 .u-container-layout-33 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-17 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-17 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-34 {
  padding: 0 25px;
}

.u-section-1 .u-text-51 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-52 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-53 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-17 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-18 {
  background-size: auto;
}

.u-section-1 .u-container-layout-35 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-18 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-18 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-36 {
  padding: 0 25px;
}

.u-section-1 .u-text-54 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-55 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-56 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-18 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-19 {
  background-size: auto;
}

.u-section-1 .u-container-layout-37 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-19 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-19 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-38 {
  padding: 0 25px;
}

.u-section-1 .u-text-57 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-58 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-59 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-19 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-20 {
  background-size: auto;
}

.u-section-1 .u-container-layout-39 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-20 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-20 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-40 {
  padding: 0 25px;
}

.u-section-1 .u-text-60 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-61 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-62 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-20 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 3004px;
  }

  .u-section-1 .u-image-1 {
    width: 155px;
  }

  .u-section-1 .u-image-2 {
    width: 155px;
  }

  .u-section-1 .u-image-3 {
    width: 155px;
  }

  .u-section-1 .u-image-4 {
    width: 155px;
  }

  .u-section-1 .u-image-5 {
    width: 155px;
  }

  .u-section-1 .u-image-6 {
    width: 155px;
  }

  .u-section-1 .u-image-7 {
    width: 155px;
  }

  .u-section-1 .u-image-8 {
    width: 155px;
  }

  .u-section-1 .u-image-9 {
    width: 155px;
  }

  .u-section-1 .u-image-10 {
    width: 155px;
  }

  .u-section-1 .u-image-11 {
    width: 155px;
  }

  .u-section-1 .u-image-12 {
    width: 155px;
  }

  .u-section-1 .u-image-13 {
    width: 155px;
  }

  .u-section-1 .u-image-14 {
    width: 155px;
  }

  .u-section-1 .u-image-15 {
    width: 155px;
  }

  .u-section-1 .u-image-16 {
    width: 155px;
  }

  .u-section-1 .u-image-17 {
    width: 155px;
  }

  .u-section-1 .u-image-18 {
    width: 155px;
  }

  .u-section-1 .u-image-19 {
    width: 155px;
  }

  .u-section-1 .u-image-20 {
    width: 155px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
  }

  .u-section-1 .u-group-1 {
    width: 377px;
  }

  .u-section-1 .u-image-2 {
    width: 300px;
  }

  .u-section-1 .u-group-2 {
    width: 377px;
  }

  .u-section-1 .u-image-3 {
    width: 300px;
  }

  .u-section-1 .u-group-3 {
    width: 377px;
  }

  .u-section-1 .u-image-4 {
    width: 300px;
  }

  .u-section-1 .u-group-4 {
    width: 377px;
  }

  .u-section-1 .u-image-5 {
    width: 300px;
  }

  .u-section-1 .u-group-5 {
    width: 377px;
  }

  .u-section-1 .u-image-6 {
    width: 300px;
  }

  .u-section-1 .u-group-6 {
    width: 377px;
  }

  .u-section-1 .u-image-7 {
    width: 300px;
  }

  .u-section-1 .u-group-7 {
    width: 377px;
  }

  .u-section-1 .u-image-8 {
    width: 300px;
  }

  .u-section-1 .u-group-8 {
    width: 377px;
  }

  .u-section-1 .u-image-9 {
    width: 300px;
  }

  .u-section-1 .u-group-9 {
    width: 377px;
  }

  .u-section-1 .u-image-10 {
    width: 300px;
  }

  .u-section-1 .u-group-10 {
    width: 377px;
  }

  .u-section-1 .u-image-11 {
    width: 300px;
  }

  .u-section-1 .u-group-11 {
    width: 377px;
  }

  .u-section-1 .u-image-12 {
    width: 300px;
  }

  .u-section-1 .u-group-12 {
    width: 377px;
  }

  .u-section-1 .u-image-13 {
    width: 300px;
  }

  .u-section-1 .u-group-13 {
    width: 377px;
  }

  .u-section-1 .u-image-14 {
    width: 300px;
  }

  .u-section-1 .u-group-14 {
    width: 377px;
  }

  .u-section-1 .u-image-15 {
    width: 300px;
  }

  .u-section-1 .u-group-15 {
    width: 377px;
  }

  .u-section-1 .u-image-16 {
    width: 300px;
  }

  .u-section-1 .u-group-16 {
    width: 377px;
  }

  .u-section-1 .u-image-17 {
    width: 300px;
  }

  .u-section-1 .u-group-17 {
    width: 377px;
  }

  .u-section-1 .u-image-18 {
    width: 300px;
  }

  .u-section-1 .u-group-18 {
    width: 377px;
  }

  .u-section-1 .u-image-19 {
    width: 300px;
  }

  .u-section-1 .u-group-19 {
    width: 377px;
  }

  .u-section-1 .u-image-20 {
    width: 300px;
  }

  .u-section-1 .u-group-20 {
    width: 377px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 245px;
  }

  .u-section-1 .u-group-1 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    width: 245px;
  }

  .u-section-1 .u-group-2 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-3 {
    width: 245px;
  }

  .u-section-1 .u-group-3 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-4 {
    width: 245px;
  }

  .u-section-1 .u-group-4 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-5 {
    width: 245px;
  }

  .u-section-1 .u-group-5 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-6 {
    width: 245px;
  }

  .u-section-1 .u-group-6 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-7 {
    width: 245px;
  }

  .u-section-1 .u-group-7 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-8 {
    width: 245px;
  }

  .u-section-1 .u-group-8 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-9 {
    width: 245px;
  }

  .u-section-1 .u-group-9 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-10 {
    width: 245px;
  }

  .u-section-1 .u-group-10 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-11 {
    width: 245px;
  }

  .u-section-1 .u-group-11 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-12 {
    width: 245px;
  }

  .u-section-1 .u-group-12 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-24 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-13 {
    width: 245px;
  }

  .u-section-1 .u-group-13 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-26 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-14 {
    width: 245px;
  }

  .u-section-1 .u-group-14 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-28 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-15 {
    width: 245px;
  }

  .u-section-1 .u-group-15 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-30 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-16 {
    width: 245px;
  }

  .u-section-1 .u-group-16 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-32 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-17 {
    width: 245px;
  }

  .u-section-1 .u-group-17 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-34 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-18 {
    width: 245px;
  }

  .u-section-1 .u-group-18 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-36 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-19 {
    width: 245px;
  }

  .u-section-1 .u-group-19 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-38 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-20 {
    width: 245px;
  }

  .u-section-1 .u-group-20 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-40 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2322px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-3 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-4 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-4 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-5 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-5 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-6 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-6 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-7 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-7 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-14 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-8 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-8 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-16 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-24 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-9 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-9 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-18 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-27 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-10 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-10 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-20 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-30 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-11 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-11 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-22 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-33 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-12 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-12 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-24 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-36 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-25 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-13 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-13 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-26 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-39 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-27 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-14 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-14 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-28 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-42 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-29 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-15 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-15 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-30 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-45 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-31 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-16 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-16 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-32 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-48 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-33 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-17 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-17 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-34 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-51 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-35 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-18 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-18 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-36 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-54 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-37 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-19 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-19 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-38 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-57 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-39 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-20 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-20 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-40 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-60 {
    margin-top: 0;
  }
}